In [2]:
l = [1, 2, 3, 4, 5]

In [3]:
l

[1, 2, 3, 4, 5]

In [5]:
for num in l:
    print 'something!'

something!
something!
something!
something!
something!

In [6]:
# MODULO

In [7]:
10 % 3

1

In [8]:
18 % 7

4

In [9]:
4%2

0

In [10]:
l

[1, 2, 3, 4, 5]

In [11]:
for num in l:
    if num % 1 == 0:
        print num

1
2
3
4
5

In [12]:
for statment in s: 
    print 'Jen is 10 times awesome'

NameError: name 's' is not defined

In [13]:
s = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
for num in l: 
    if num % 2 == 0: 
        print num
    else: 
        print 'Odd number!'

Odd number!
2
Odd number!
4
Odd number!

In [34]:
l

[1, 2, 3, 4, 5]

In [50]:
sum = 43


for num in l:
    sum = sum + num
    print 'Current number is {num}, and the sum is {sum}.'.format(num = num, sum = sum)

    
print list_sum

Current number is 1, and the sum is 44.
Current number is 2, and the sum is 46.
Current number is 3, and the sum is 49.
Current number is 4, and the sum is 53.
Current number is 5, and the sum is 58.
15

In [52]:
s  = 'this is a string!'

In [56]:
for item in s:
    print item

t
h
i
s

i
s

a

s
t
r
i
n
g
!

In [59]:
tup = (1, 2, 3, 4, 5)

for item in tup: 
    print item

1
2
3
4
5

In [60]:
l = [(2, 4), (6, 8), (10,12)]

In [66]:
l[2][0]

10

In [67]:
for tup in l:
    print tup

(2, 4)
(6, 8)
(10, 12)

In [70]:
for (t1, t2) in l:
    print t1
    print t2
    print t1-t2

2
4
-2
6
8
-2
10
12
-2

In [69]:
#tuples and unpacking

In [73]:
d = {'k1':1, 'k2':2,'k3': 3}

In [74]:
for item in d:
    print item

k3
k2
k1

In [75]:
for k, v in d.iteritems():
    print k 
    print v

k3
3
k2
2
k1
1